* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#container {
  margin: 0 auto;
  padding-top: 50px;
  width: 80%;
  text-align: center;
}

.product-row {
  margin-bottom: 15px;
}

.product-item {
  display: inline-block;
  position:relative;
  width: 300px;
  height: 372px;
  background-color: #d1d1d1;
}

.product-item:hover {
  cursor: pointer;
}

.discount-tag {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px 5px;
  background-color: green;
}

.product-item:nth-child(even) .discount-tag {
  background-color: red;
}

.heart {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: red;
  text-align: center;
  font-size: 38px;
}

.product-item:hover .heart {
  display: block;
}
